[Unit]
Description=Infinite Scroll uploader
After=network.target

[Service]
Type=simple
User=stags
StateDirectory=infinite-scroll
WorkingDirectory=/home/stags/infinite-scroll
Environment=BIND_ADDR=0.0.0.0:8081
Environment=UPLOADER_PARTIAL_DIR=/var/lib/infinite-scroll/partial
Environment=UPLOADER_READY_DIR=/var/lib/infinite-scroll/ready
EnvironmentFile=/etc/infinite-scroll/uploader.env
ExecStart=/home/stags/infinite-scroll/bin/uploader
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
